Clear Absensi.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","uaecentral","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}}},"resources":[{"type":"Microsoft.Logic/workflows","apiVersion":"2016-06-01","name":"[parameters('logicAppName')]","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"1dbbe1d0-b8c6-4662-8557-a3645add3ad8"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"key-button-date":{"title":"Date","type":"string","x-ms-dynamically-added":false}},"required":["key-button-date"]},"headersSchema":{"x-ms-user-timestamp":{"title":"Timestamp","type":"string","x-ms-dynamically-added":false}}}}},"actions":{"List_rows_present_in_a_table":{"runAfter":{"Copy_file":["Succeeded"]},"metadata":{"01TQE4IRCH5RMBDP7YNRG2NGQ6HF4Z25D2":"/Absensi/1.xlsx","operationMetadataId":"144def75-1cbd-48fe-ab16-1791de039aac","flowSystemMetadata":{"swaggerOperationId":"GetItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['excelonlinebusiness']['connectionId']"}},"method":"get","path":"/drives/@{encodeURIComponent('b!GDL_bFjtOUKnv45G3UkCmvCY2P8BvmRLpkB1jrBI1Sg0n2Sqyx7eQ58EuXUjLUj3')}/files/@{encodeURIComponent(encodeURIComponent('01TQE4IRCH5RMBDP7YNRG2NGQ6HF4Z25D2'))}/tables/@{encodeURIComponent('{F39A61F6-4CE9-425F-98A9-7C70E83E82B3}')}/items","queries":{"source":"me"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each":{"foreach":"@body('List_rows_present_in_a_table')?['value']","actions":{"Delete_a_row":{"runAfter":{},"metadata":{"01TQE4IRCH5RMBDP7YNRG2NGQ6HF4Z25D2":"/Absensi/1.xlsx","operationMetadataId":"26268e62-111e-4758-8092-64e64adea7ba","flowSystemMetadata":{"swaggerOperationId":"DeleteItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['excelonlinebusiness']['connectionId']"}},"method":"delete","path":"/drives/@{encodeURIComponent('b!GDL_bFjtOUKnv45G3UkCmvCY2P8BvmRLpkB1jrBI1Sg0n2Sqyx7eQ58EuXUjLUj3')}/files/@{encodeURIComponent(encodeURIComponent('01TQE4IRCH5RMBDP7YNRG2NGQ6HF4Z25D2'))}/tables/@{encodeURIComponent('{F39A61F6-4CE9-425F-98A9-7C70E83E82B3}')}/items/@{encodeURIComponent(encodeURIComponent(items('Apply_to_each')?['Nama']))}","queries":{"source":"me","idColumn":"Nama"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"metadata":{"operationMetadataId":"8477de6d-9284-409d-8597-a3ffa7a20103"},"type":"Foreach"},"Copy_file":{"runAfter":{},"metadata":{"b!GDL_bFjtOUKnv45G3UkCmvCY2P8BvmRLpkB1jrBI1Sg0n2Sqyx7eQ58EuXUjLUj3.01TQE4IRCH5RMBDP7YNRG2NGQ6HF4Z25D2":"/Absensi/1.xlsx","operationMetadataId":"8c5db817-9f6e-475d-92c9-f376b97ce9d0","flowSystemMetadata":{"swaggerOperationId":"CopyDriveFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['onedriveforbusiness']['connectionId']"}},"method":"post","path":"/datasets/default/files/@{encodeURIComponent(encodeURIComponent('b!GDL_bFjtOUKnv45G3UkCmvCY2P8BvmRLpkB1jrBI1Sg0n2Sqyx7eQ58EuXUjLUj3.01TQE4IRCH5RMBDP7YNRG2NGQ6HF4Z25D2'))}/copy","queries":{"destination":"/Absensi/@{triggerBody()['key-button-date']}.xlsx","overwrite":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"outputs":{}},"parameters":{},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"collections":{"maximumItemCount":100000},"performanceProfile":{"throttles":{"mode":"Medium"}},"retryPolicy":{"type":"Exponential","interval":"PT5M","count":2,"minimumInterval":"PT5M","maximumInterval":"PT1H"},"usageConfiguration":{"name":"USER-34A7F28254FF46449B6EED05949DBA81"}},"integrationAccount":{"name":"d7b95ec49a7f4260b2e3eb53f0ac8401-southeastasia","id":"subscriptions/b745f25e-91b5-4140-9d73-93b10b1dfb1d/resourceGroups/d7b95ec49a7f4260b2e3eb53f0ac8401-ia/providers/Microsoft.Logic/integrationAccounts/d7b95ec49a7f4260b2e3eb53f0ac8401-southeastasia","type":"Microsoft.Logic/integrationAccounts"}}}]}