KlikAbsensiProjectMsFlow/Microsoft.Flow/flows/9971bd8a-140c-44be-8127-8c9d0c97f20a/definition.json
{"name":"9465e43a-57a8-48f4-a049-2dc8c5c2b192","id":"/providers/Microsoft.Flow/flows/9465e43a-57a8-48f4-a049-2dc8c5c2b192","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Klik Absensi","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"34a7f282-54ff-4644-9b6e-ed05949dba81","type":"User","tenantId":"d7b95ec4-9a7f-4260-b2e3-eb53f0ac8401"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-06-11T17:43:55.1652238Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"2ca9a5fe-a6e4-4bf2-8f97-9209c566abab"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"location":{"type":"object","properties":{"fullAddress":{"title":"Full address","type":"string","x-ms-dynamically-added":false}}},"key-button-date":{"title":"Date","type":"string","x-ms-dynamically-added":false},"text":{"title":"Status","type":"string","x-ms-dynamically-added":true,"description":"pembelajaran","x-ms-content-hint":"TEXT","enum":["Online","Offline"]},"text_1":{"title":"Kelas","type":"string","x-ms-dynamically-added":true,"description":"pilih kelas","x-ms-content-hint":"TEXT","enum":["AB31 - Astronom","ZX21 - Chemical"]}},"required":["location","key-button-date","text","text_1"]},"headersSchema":{"x-ms-user-name-encoded":{"title":"User name","type":"string","format":"byte","x-ms-dynamically-added":false},"x-ms-user-timestamp":{"title":"Timestamp","type":"string","x-ms-dynamically-added":false}}}}},"actions":{"Convert_time_zone":{"runAfter":{},"metadata":{"operationMetadataId":"1e76fdd2-a9ff-43ac-928d-9e846d2d9190"},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@triggerOutputs()['headers']['x-ms-user-timestamp']","formatString":"HH:mm","sourceTimeZone":"UTC","destinationTimeZone":"SE Asia Standard Time"}},"Condition":{"actions":{"Condition_3":{"actions":{"Add_a_row_into_a_table":{"runAfter":{},"metadata":{"01TQE4IRA4MXWAJUQ3ARCJV6EK72OS34CS":"/Absensi/1.xlsx","operationMetadataId":"95351779-3760-42ce-8ba7-4b4234229602","tableId":"{F39A61F6-4CE9-425F-98A9-7C70E83E82B3}","01TQE4IRCH5RMBDP7YNRG2NGQ6HF4Z25D2":"/Absensi/1.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2"},"parameters":{"source":"me","drive":"b!GDL_bFjtOUKnv45G3UkCmvCY2P8BvmRLpkB1jrBI1Sg0n2Sqyx7eQ58EuXUjLUj3","file":"01TQE4IRCH5RMBDP7YNRG2NGQ6HF4Z25D2","table":"{F39A61F6-4CE9-425F-98A9-7C70E83E82B3}","item/Nama":"@triggerOutputs()['headers']['x-ms-user-name-encoded']","item/Lokasi":"@triggerBody()['location']['fullAddress']","item/Status":"@triggerBody()['text']","item/Code Class":"@triggerBody()['text_1']","item/Waktu":"@{body('Convert_time_zone')} @{triggerBody()['key-button-date']}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Send_me_a_mobile_notification":{"runAfter":{"Add_a_row_into_a_table":["Succeeded"]},"metadata":{"operationMetadataId":"1b07a6a4-ea62-4f82-a919-58fccd0bfb35"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_flowpush","connectionName":"shared_flowpush","operationId":"SendNotification"},"parameters":{"NotificationDefinition/notificationText":"Halo,  @{outputs('Add_a_row_into_a_table')?['body/Nama']} kamu berhasil melakukan absensi pada @{body('Convert_time_zone')}."},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"else":{"actions":{"Send_me_a_mobile_notification_3":{"runAfter":{},"metadata":{"operationMetadataId":"8f8fcfaf-ced4-41ea-9e7f-88ca6ae0877b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_flowpush","connectionName":"shared_flowpush","operationId":"SendNotification"},"parameters":{"NotificationDefinition/notificationText":"opps! @{triggerOutputs()['headers']['x-ms-user-name-encoded']} absensi gagal pastikan kelas dan waktu sesuai."},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Terminate":{"runAfter":{"Send_me_a_mobile_notification_3":["Succeeded"]},"metadata":{"operationMetadataId":"9dbb297c-827c-46fe-96c7-ae6ff86f7957"},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"time class","message":"jadwal dan waktu tidak sesuai"}}}}},"expression":{"and":[{"greaterOrEquals":["@body('Convert_time_zone')","12:00"]},{"less":["@body('Convert_time_zone')","16:30"]}]},"metadata":{"operationMetadataId":"54ca70cd-17b6-4608-bda2-185c809a16c1"},"type":"If"}},"runAfter":{"Convert_time_zone":["Succeeded"]},"else":{"actions":{"Condition_2":{"actions":{"Condition_4":{"actions":{"Add_a_row_into_a_table_2":{"runAfter":{},"metadata":{"01TQE4IRA4MXWAJUQ3ARCJV6EK72OS34CS":"/Absensi/1.xlsx","operationMetadataId":"95351779-3760-42ce-8ba7-4b4234229602","tableId":"{F39A61F6-4CE9-425F-98A9-7C70E83E82B3}","01TQE4IRCH5RMBDP7YNRG2NGQ6HF4Z25D2":"/Absensi/1.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2"},"parameters":{"source":"me","drive":"b!GDL_bFjtOUKnv45G3UkCmvCY2P8BvmRLpkB1jrBI1Sg0n2Sqyx7eQ58EuXUjLUj3","file":"01TQE4IRCH5RMBDP7YNRG2NGQ6HF4Z25D2","table":"{F39A61F6-4CE9-425F-98A9-7C70E83E82B3}","item/Nama":"@triggerOutputs()['headers']['x-ms-user-name-encoded']","item/Lokasi":"@triggerBody()['location']['fullAddress']","item/Status":"@triggerBody()['text']","item/Code Class":"@triggerBody()['text_1']","item/Waktu":"@{body('Convert_time_zone')} @{triggerBody()['key-button-date']}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Send_me_a_mobile_notification_6":{"runAfter":{"Add_a_row_into_a_table_2":["Succeeded"]},"metadata":{"operationMetadataId":"1b07a6a4-ea62-4f82-a919-58fccd0bfb35"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_flowpush","connectionName":"shared_flowpush","operationId":"SendNotification"},"parameters":{"NotificationDefinition/notificationText":"Halo, @{outputs('Add_a_row_into_a_table_2')?['body/Nama']} kamu berhasil melakukan absensi pada @{body('Convert_time_zone')}."},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"else":{"actions":{"Send_me_a_mobile_notification_4":{"runAfter":{},"metadata":{"operationMetadataId":"99467ce8-7b7e-4a6b-99e0-07830853fc91"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_flowpush","connectionName":"shared_flowpush","operationId":"SendNotification"},"parameters":{"NotificationDefinition/notificationText":"opps! @{triggerOutputs()['headers']['x-ms-user-name-encoded']} absensi gagal pastikan kelas dan waktu sesuai."},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Terminate_2":{"runAfter":{"Send_me_a_mobile_notification_4":["Succeeded"]},"metadata":{"operationMetadataId":"9fa5f431-2f98-4839-bbf9-835cd1a40bc1"},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"time class","message":"jadwal dan waktu tidak sesuai"}}}}},"expression":{"and":[{"greaterOrEquals":["@body('Convert_time_zone')","16:50"]},{"less":["@body('Convert_time_zone')","18:30"]}]},"metadata":{"operationMetadataId":"03f85467-62e5-48b6-9dc8-e426c9ab327b"},"type":"If"}},"runAfter":{},"else":{"actions":{"Send_me_a_mobile_notification_2":{"runAfter":{},"metadata":{"operationMetadataId":"52940989-c3d7-4a68-b0e0-0ce6b86870e1"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_flowpush","connectionName":"shared_flowpush","operationId":"SendNotification"},"parameters":{"NotificationDefinition/notificationText":"opps! @{triggerOutputs()['headers']['x-ms-user-name-encoded']} pastikan kelas dan waktu sesuai.","NotificationDefinition/notificationLink/uri":"www.bit.ly","NotificationDefinition/notificationLink/label":"Jadwal"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Terminate_3":{"runAfter":{"Send_me_a_mobile_notification_2":["Succeeded"]},"metadata":{"operationMetadataId":"50deeafb-882a-4e39-86c5-5b67fb846b60"},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"time class","message":"jadwal dan waktu tidak sesuai"}}}}},"expression":{"contains":["@triggerBody()['text_1']","ZX"]},"metadata":{"operationMetadataId":"1a36fcb9-9487-40af-86ca-0350799d015c"},"type":"If"}}},"expression":{"contains":["@triggerBody()['text_1']","AB"]},"metadata":{"operationMetadataId":"7072aa4a-50db-4020-b538-cac28de68273"},"type":"If"}},"description":""},"connectionReferences":{"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-e68b6412-6a20-469a-8452-4b0bf07086d0","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"},"shared_flowpush":{"connectionName":"shared-flowpush-f5d268d5-0c60-4af8-9703-f682a589b4ce","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_flowpush","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}